<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
</head>

<body>
	<div id="app">
		<ul>
			<li>
				<input type="checkbox" @change="checkAllHandle" v-model="checkedAll" />全选
			</li>
			<li v-for="(item,i) in people" :key="i">
				<input type="checkbox" @change="setOneCheckstate(i)" :checked="item.checked" />{{ item.name }}
			</li>
		</ul>
	</div>
	<!-- <script src="./libs/vue.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				checkedAll: false,
				people: [{
						checked: false,
						id: 1,
						name: '沈剑心'
					},
					{
						checked: false,
						id: 2,
						name: '小明'
					}
				]
			},
			methods: {
				setOneCheckstate(i) {
					this.people[i].checked = !this.people[i].checked;
					const selectedPeople = this.people.filter(function(item) {
						return item.checked;
					});
					// 判断一下选中的数据的长度是否等于总数据的长度
					if (selectedPeople.length === this.people.length) {
						this.checkedAll = true;
					} else {
						this.checkedAll = false;
					}
				},
				checkAllHandle() {
					this.people.forEach((item, i) => {
						this.people[i].checked = this.checkedAll;
					});
				},
			}



			// 此处ajax ，假设1是成功
			let peopleData = [];

			if(res.code == 1){
				for (var i = 0;i < res.data.length ; i++) {

					//方案1
					let newData = res.data[i];

					newData.aaa = 1;  // 新属性 aaa, bbb
					newData.bbb = 2;

					peopleData.push(newData);


					//方案2 

					res.data[i].aaa =1;
					res.data[i].bbb = 2;

					peopleData.push(newData);


					/*let newData = {checked: false, id: res.data[i].id, name: res.data[i].name};  // 组织一个新数据对象

					// 往 peopleData 这个变量，插入新增的数据， 应该是 push
					peopleData.push(newData);*/
				}

				// 最后，把组织好的peopleData 赋值给   this.data.people (也就是data数据下 的 people属性)

				console.log(peopleData);
				
				this.data.people = peopleData;
			}



		});
	</script>
</body>

</html>
